* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@font-face {
    font-family: "MyIcon";
    src: url("../font/glyphicons-halflings-regular.woff2");
}
body, :root {
    width: 100%;
}
body {
    font-family: "Montserrat", "微软雅黑";
    font-weight: 400;
    font-size: 16px;
    word-spacing: 1px;
    color: #666;
    margin: 0;
}
.container-right {
    border-radius: 10px;
    overflow: hidden;
}
 

.container-right .el-collapse .el-collapse-item__header {
    padding: 0px 10px;
    background-color: #009688;
    color: #fff;
    border-bottom: 1px solid #eee;
}
.el-collapse-item__header i {
    font-size: 16px;
    color: #fff;
}
.container-right .el-collapse .el-collapse-item__wrap {
    background-color: #fff;
    
}
.el-collapse-item__content {
    color: #000;
    word-break: break-all;
    padding-bottom: 0px;
}
.container-right .el-collapse .el-collapse-item {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}